.idx {
    padding-top: 2%;
    background-color: #F7F9FB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
    height: auto;
}
.txtinput {
    height: 5%;
    width: 80%;
}
form{
    text-align: center;
}
.gkzfiets{
    margin-bottom: 0;
    margin-top: 0;
}
#whoops{
    width: 50%;
}
.invoer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
}
@media only screen and (max-width: 768px){
    .invoer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 0px 0px;
        grid-template-areas: "." ".";
    }
}
