  .opng {
    background-color: #F7F9FB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 0px 0px;
    grid-template-areas: "tbl" "map";
  }

  .tbl {
    grid-area: tbl;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "table" "rest";
  }

  table {
    text-align: center;
    grid-area: table;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tbl1 {
    margin: auto;
    grid-area: table;
  }

  .tbl2 {
    margin: auto;
    grid-area: rest;
  }

  .rst {
    border: 2px solid black;
    grid-area: map;
  }

  #map {
    height: 400px;
    width: 60%;
    grid-area: map;
    margin: auto;
  }

  @media only screen and (max-width: 426px) {}